absl-py==1.2.0
anaconda-navigator==2.1.4
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
autocorrect==2.6.1
autograd==1.4
autograd-gamma==0.5.0
autoviz==0.1.58
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
Brotli==1.0.9
brotlipy==0.7.0
certifi==2021.10.8
clyent==1.2.2
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.8
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.5.0
dash==2.6.2
dash-bootstrap-components==1.2.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
datashape==0.5.4
dtale==2.8.1
emoji==2.1.0
et-xmlfile==1.1.0
feature-engine==1.4.1
Flask-Compress==1.13
flask-ngrok==0.0.25
flatbuffers==1.12
fonttools==4.25.0
formulaic==0.4.0
gast==0.4.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
htmlmin==0.1.12
igraph==0.9.11
ImageHash==4.3.1
importlib-resources==5.10.0
inflection==0.5.1
interface-meta==1.3.0
kaleido==0.2.1
keras==2.9.0
Keras-Preprocessing==1.1.2
libclang==14.0.6
lifelines==0.27.1
llvmlite==0.38.0
lz4==4.0.2
mccabe==0.6.1
missingno==0.4.2
mkl-fft==1.3.1
mkl-service==2.4.0
mlxtend==0.20.0
mpmath==1.2.1
multimethod==1.8
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
oauthlib==3.2.0
opt-einsum==3.3.0
pandas-profiling==3.3.0
panel==0.12.7
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
phik==0.12.2
Pillow==9.0.1
pmdarima==2.0.1
protobuf==3.19.1
pyamg==4.2.3
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.9.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pyreadline==2.1
pytest==7.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pywin32==302
PyYAML==6.0
queuelib==1.5.0
requests-oauthlib==1.3.1
scikit-misc==0.1.4
scipy==1.8.0
sip==4.19.13
squarify==0.4.3
statsmodels==0.13.2
strsimpy==0.2.1
sweetviz==2.1.4
tables==3.6.1
tabulate==0.8.9
tangled-up-in-unicode==0.2.0
TBB==0.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
textblob==0.17.1
texttable==1.6.4
tweepy==4.10.0
typing_extensions==4.3.0
visions==0.7.5
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.2.2
xgboost==1.6.2
xlwings==0.24.9
zict==2.0.0
